
body {
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: #7a6e6e;
    font-family: Arial, sans-serif;
  }
  
  @keyframes unquietBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  body {
    animation: unquietBackground 10s ease infinite;
    background: linear-gradient(-45deg, #FFD700, #8c6b7c, #060351, #de953b);
    background-size: 400% 400%;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(22, 19, 24);
    border-radius: 150px;
   text-align: center;
   color: beige;
}
 
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }


  #book{
    display: flex;
    justify-content: space-evenly;
}

.book-sample {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.book-sample img {
    max-width: 220px;
    margin-right: 20px;
    
}


.book-sample h2 {
    margin: 0;
    font-size: 18px;
}

.book-sample p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /*  */
  .well {
    color: #fff;
   
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: xx-large;
  }
  
  
  /*  */
  
  
  #home {
    position: relative;
    text-align: center;
    color: #1454de;
    padding: 100px 0;
    overflow: hidden;
    background-image: url(images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
  }


    


    
    #home h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
  
  
  
  
  .book:hover button {
    opacity: 1; 
  }
  
  /*  */
  .book {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #readButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #pdfContainer {
    width: 100%;
    height: 500px;
  }
  
  .book img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .book h2,
  .book button,
  .book p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
  }
  
  .book:hover img {
    transform: scale(1.1); 
  }
  
  .book:hover h2,
  .book:hover p {
    opacity: 1;
  }
  
  .book.clicked h2,
  .book.clicked p {
    opacity: 1;
  }
  /*  */
  
  #contact {
    padding: 20px;
    background-color: #5b3246;
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #616e61;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }